<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\bootstrap\dist\css\bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <%- include("partials/nav") %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">

                <% list.forEach(e=> { %>

                    <!-- <div class="card mb-3">
                        <div class="row">
                            <div class="col-4">
                                <img src="/images/<%= e.imgUrl %>" alt="<%= e.name %>" class="img-fluid" width="200" height="200">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/products/<%= e.id %>">
                                            <%= e.name %>

                                        </a>
                                    </h5>
                                    <p class="card-text">
                                        <%= e.price %> TL
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div> -->

<%- include("partials/product", e) %>

                    <% }) %>

            </div>

        </div>

    </div>

</body>

</html>